
@import url(http://fonts.googleapis.com/css?family=Satisfy);


@colorSuccess: #25880A;
@colorFailure: #A90329;

@color1: #5589C1;
@color2: lighten(@color1,15%);

@color3: #FFF;
@color4: #333;
@color5: #CCC;

@borderRadius: 3px;

@fontTitle: Satisfy, Helvetica, sans-serif;
@fontMenu: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
@fontBody: Verdana, Geneva, sans-serif;
@fontOther: Consolas, 'Lucida Console', Monaco;

@paddingContent: 24px;

@screen-xs-min:				480px;
@screen-sm-min: 			768px;
@screen-md-min: 			992px;
@screen-lg-min: 			1200px;

@screen-xs-max: 			(@screen-sm-min - 1);
@screen-sm-max: 			(@screen-md-min - 1);
@screen-md-max: 			(@screen-lg-min - 1);