
input, textarea, button
{
	color:#FFF;
	border: 0;
	background:@color1;
	padding:5px;
	font-size:70%;
}

input[type=radio],input[type=checkbox]{background:none transparent;}

select{color:@color4;font-size:70%;padding:5px;}

textarea{width:94%;font-size:100%;}

label
{
	display: block;
	color:@color1;
	padding:2px;
	padding-top:6px;
}

fieldset
{
	margin-top:@paddingContent/2;

	border:1px solid @color2;
	padding:@paddingContent/2;
}

legend{color:@color2;}

.labelInline
{
	display: inline;
}

.formDescription
{
	border-bottom:1px solid @color5;
	text-shadow: 0px 4px 5px #AAA;
	font-size:90%;
	font-style: italic;
	color:#555;
	margin-bottom:@paddingContent/2;
}

.inputDescription
{
	color:darken(@color5,20%);
	font-size:60%;
	padding:0 2px;
}

.inputOptional
{
	color:darken(@color5,30%);
	font-size:56%;
}

input:focus,textarea:focus, button:focus
{
	background-color:darken(@color1,10%);
}

button
{
	margin-top:6px;
	
	&:hover{background-color:@color2;}
	&:active{background-color:darken(@color1,10%);	color:@color3;}
}
