
.easyxpoll-question{font-size:18px;color:@color1;}
.easyxpoll-answer{font-size:14px;color:@color4;overflow:hidden;}
.easyxpoll-bar-container{height:14px;background:@color5;}
.easyxpoll-answer label{display:inline;color:@color2;}
.easyxpoll-voted{color:@colorVoted;font-style:italic;font-size:12px;}
.easyxpoll-closed{color:@colorClosed;font-size:12px;}

.easyxpoll-bar{
	height:14px;
	background:@color1;
	font-size:12px;
	color:@color3;
	text-align:right;
}

.easyxpoll-button
{
	color:@color3;
	border: 0;
	background:@color1;
	padding:5px;
	font-size:70%;
	margin-top:6px;
	
	&:hover{background-color:@color2;}
	&:active{background-color:darken(@color1,10%);	color:@color3;}
}