

.si_option
{
	display: inline-block;

	width:32px;
	height:24px;
	padding:5px;
	overflow:hidden;
	
	background-color:#FFF;
	border: 1px solid @color2;
	text-align:center;
	
	&:hover{
		border: 1px solid darken(@color1,10%);
	}
}

.si_audio{cursor:pointer;}
.si_image{
	border: 1px solid @color2;
}

.si_refresh, .si_audio{
	width:24px;
	height:24px;
	background-color:#FFF;
}

.si_captchaInput{clear:both;}