

@import "_base";

/*
	Normalize
*/

fieldset{border:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,form,fieldset,table,td,th,caption{margin:0;padding:0;}
caption,th{text-align:left;}

/*
	Ads
*/

.ads_banner
{
	max-width:320px;
	max-height:50px;
	
	overflow:hidden;
	margin-bottom:@paddingContent;
	background:@color3;
}

/*
	Classes
*/

.success{color:@colorSuccess !important;}
.failure{color:@colorFailure !important;}

.hidden { display: none; }
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
.padding{padding:@paddingContent;}
.nomargin { margin: 0 !important; }
.textcenter{text-align:center;}

.radioLabels label{display:inline !important;}

.box
{
	width:320px;
	min-height:180px;
	background:@color3;
	border-radius: 2px;
	text-align:left;
	margin-bottom: 20px;
	overflow: hidden;
}

.widebox
{
	width:100% - (@paddingContent)px;
	min-height:180px;
	background:@color3;
	border-radius: 2px;
	text-align:left;
	margin-bottom: 20px;
}

.box h2, .widebox h2{background:@color2;color:@color3;padding:@paddingContent/2;}

/*
	Main Style
*/

dt{font-weight:bold;color:@color1;}
strong{color:@color1;}

html,body{
    height: 100%;
	width: 100%;
}

body
{
	min-height: 100%;
	overflow-y:scroll;
	
	background:@color3;
	color: @color4;
	
	font-size:100%;
	font-family:Verdana;
	
	min-width: 100%
}

h1{font-size:250%;}
h2,h3,h4,h5,h6{font-size:100%;}

a{color:darken(@color1,15%);text-decoration:none;}
a:hover{text-decoration:underline;}

#container
{
	position:relative;
	min-width: 340px;
	min-height: 100%;
	overflow: hidden;
	max-width: 728px;
	background:@color1;
	margin:0 auto;
}

#header
{
	width:100%;
	height:120px;
	
	color:@color3;
	overflow:hidden;
	text-align: center;
	
	h1{margin-top:10px;font-family: @fontTitle;font-weight:bolder;font-size: 400%;}
	p{font-family: @fontOther;font-size: 100%;}
	a{
		color:@color3;
		&:hover{text-decoration:none;}
	}
}

#content
{
	position:relative;
	max-width:728px;
	min-height:180px;
	height:100%;
	overflow: hidden;
	text-align: center;
	padding:@paddingContent;
}

#inputQuestion{width:222px;}
#textareaPoll{resize:vertical;}
#pollPreviewIcon{font-size:500%;color:@color1;display:none;}
#preview{text-align:left;}

#navPreviewBG ul {list-style-type:none;}
#navPreviewBG ul li {float: left;}
#navPreviewBG li a
{
	padding:8px;
	display:block;
	content:" ";
	border-top:1px solid @color2;
	border-right:1px solid @color2;
}

/*
	Includes
*/

@import "_forms";
@import "_secureimage";

/*
	Footer
*/

#footer_separator{width:100%;height:86px;}

#footer
{
	position:absolute;
    left:0;
    bottom:0; 
	
	width:100%;
	height:40px;
	padding:@paddingContent 0;
	overflow:hidden;
    
	color:@color3;
	
	font-size:70%;
	font-family:@fontOther;
	text-align:center;
}

#footer a{color:@color3;text-decoration:underline;}
#footer a:hover,#footer a:active{color:#FFEAA8;}

/*
	Media Queries
*/

@media (max-width: (@screen-xs-max))
{
	.alignleft, .alignright
	{
		float:none;
	}
	
	.box, .ads_banner{margin: 10px auto;}
	
	#content{padding:0;}
}

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }

