
fieldset{border:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,form,fieldset,table,td,th,caption{margin:0;padding:0;}
caption,th{text-align:left;}

body
{
	background:none transparent;
	font-size:100%;
	font-family:Verdana;
	min-width: 100%
}